<div class="col-xs-12">
<footer>

  <a href=""><img src="assets/Capture2.PNG" alt="" /></a>

  <p>Copyright © 2023 e-health. All rights reserved.</p>
  <nav>
    <a href="" matTooltip="whatsapp"><i class="fa-brands fa-square-whatsapp fa-2x tg-wats"></i></a>
    <a href="" matTooltip="linkedin"><i class="fa-brands fa-linkedin fa-2x tg-link"></i></a>
    <a href="" matTooltip="telegram"><i class="fa-brands fa-telegram fa-2x tg-telgram"></i></a>
    <a href="" matTooltip="facebook"><i class="fa-brands fa-square-facebook fa-2x tg-fb"></i></a>
    <a href="" matTooltip="instagram"><img src="assets/insta.webp" alt=""></a>
    <a href="" matTooltip="twitter"><i class="fa-brands fa-square-twitter fa-2x tg-twit"></i></a>
  </nav>
</footer>
</div>
