<section>
  <div class="header">
    <img src="assets/Capture2.PNG" alt="logo">
    <img src="assets/pdp.jpg" alt="pdp">
    <div class="name">
      <h2>rayen andolsi</h2>
      <p>exemple@gmail.com</p>
    </div>
    <nav>
      <a href="#" class="active">Patient</a>
      <a href="#">Assistant</a>
      <a href="#">Paiement</a>
    </nav>
    <a href="" class="logout"><button class="fas fa-sign-out-alt"> logout</button></a>
  </div>
  <div class="global">
    <div class="profilePage">
      <h1>Profile</h1>
      <div class="profile">
        <div>
          <img src="assets/pdpBg.jpg" alt="background">
          <img src="assets/ProfilePictureMaker.png" alt="pdp">
        </div>
        <div>
          <h2>flen falten</h2>
          <p>exemple@gmail.com</p>
          <button>Edit Profile</button>
        </div>
      </div>
    </div>
  </div>
</section>
